{% extends "base.html" %}
{% block title %}Flasky - Post{% endblock %}
{% block page_content %}
{% include '_posts.html' %}
{% endblock %}
{% block scripts %}

     {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pro/img_viewer/viewer.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='pro/img_viewer/viewer.js')}}"></script>

<script type="text/javascript">
    $('.images').viewer();
    function heart(id) {

        $.ajax({ url: "/heart", data:{'id':id},type:'post', dataType: 'json',
            success: function(data){
                if (data){
                    alert('ok');
                }
            }
        });
    }
</script>
{% endblock %}